@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

#bg-section{
    background-image: url("../assets/Hero-bg.png");
    height: 612px;
    background-position: center;
    margin-top: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: baseline;

}

#bg-section .div-info .div-icon img{
margin-top:50px;
} 

#bg-section .div-info .div-h1-sbtitl{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 800;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}


#bg-section .div-info .div-h1-sbtitl p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

#bg-section .div-info .div-h1-sbtitl button{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    /* Auto layout */
    padding: 14px 25px 14px 25px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    cursor: pointer;
}

#section-2 {

    /* width: 924px;
    margin: 50px auto; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 97px 80px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);

}

#section-2 .big-div {
    position: static;
    width: 950px;
    height: 950px;

}

#section-2 .big-div .k h1{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;

}

#section-2 .big-div .k p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

#section-2 .big-div .first-div{
    margin-top: 48px;

position: static;
 width: 950px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    
}
#section-2 .big-div .first-div .first-div-a .p1{
color: rgb(0, 0, 0);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;

}



#section-2 .big-div .first-div .first-div-a .p2{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;

}

#section-2 .big-div .first-div .btn-learnmore{
position: static;
font-family: Azeret Mono;
width: 150px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;

}

#section-2 .big-div .second-div{
position: static;
width: 950px;
height: 220px;
display: flex;
flex-direction: row;
justify-content: space-between ;
align-items: flex-end;
padding: 0px;
margin-top: 48px;
border-radius: 16px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    
}

#section-2 .big-div .second-div .second-div-b {
    position: static;
    width: 800px;
    height: 220px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

}


#section-2 .big-div .second-div .second-div-b .p3{
color: rgb(0, 0, 0);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 0px;
margin-top:0%;
}

#section-2 .big-div .second-div .second-div-b .p4{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;

}

#section-2 .big-div .second-div .second-div-b .btn-learnmore2{
    box-sizing: border-box;
 border: 1px solid rgb(13, 19, 33);
 opacity: 0.7; 
 font-family: Azeret Mono;

 position: static;
width: 150px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;

flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;

}

#section-2 .big-div .third-div{

    position: static;
    width: 950px;
    height: 220px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 48x;
    margin-top: 48px;
    
   
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

} 

#section-2 .big-div .third-div .third-div-a .p5{
    color: rgba(0, 0, 0,);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    position: static;


}

#section-2 .big-div .third-div .third-div-a .p6{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;

}

#section-2 .big-div .third-div .third-div-a .btn-learnmore3{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

/* Frame 7 */
position: static;
width: 149px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;

}

#section-3 {/* Frame 15 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

#section-3 .video-div-one{
position: static;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

#section-3 .video-div-one h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
justify-content: center;
    }

    #section-3 .video-div-one p{
     color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
     opacity: 0.7;

        }
    
#section-3 .video-div-two{      
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

    position: static;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;

}


#section-3 .video-div-two .jhank iframe{
    position: static;
    align-items: center;
    width: 1000px;
    height: 500px;
    border-radius: 16px;


}

